html {
    font-size: 100%;
}

body {
    margin: 0;
    min-width: 340px;
}

/* FONTS */

@font-face {
    font-family: "Avenir85";
    src: url(assets/fonts/Avenir-LT-W01-85-Heavy/Avenir-LT-W01-85-Heavy.ttf) format("truetype");
}

@font-face {
    font-family: "Avenir35";
    src: url(assets/fonts/Avenir-LT-W01-35-Light/Avenir-LT-W01-35-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}

/*|| HEADER */

#fixedHeader {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media (max-width: 850px) {
    #fixedHeader {
        position: relative;
    }

}

#fixedHeader a{
    text-decoration: none;
    color: #ffffff;
}

/* line 1 */

#fixedHeaderLine1 img, #fixedHeaderLine1 object {
    width: 1.25rem;
    vertical-align: bottom;
    padding-right: 4px;
}

#fixedHeaderLine1 li {
    flex-grow: 1;
    min-height: 3.125rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding-left: 15px;
}

#fixedHeaderLine1 li:first-child {
    flex-grow: 0;
    padding-right: 30px;
}

.textRight {
    justify-content: end;
}

#fixedHeaderLine1 {
    font-family: "Avenir85";
    height: fit-content;
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    background-color: #018189;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
@media (max-width: 820px) {
    #fixedHeaderLine1 {
        justify-content: center;
    }

    #fixedHeaderLine1 li {
        flex-grow: 0;
    }

    #fixedHeaderLine1 li:first-child {
        padding-right: 0px;
    }

}

/* line 2 */

#fixedHeaderLine2 {
    list-style-type: none;
    margin: 0;
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

#fixedHeaderLine2 li {
    min-height: 5.8125rem;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

#fixedHeaderLine2 li:last-child {
    font-family: "Poppins";
    font-size: 1.125rem;
    letter-spacing: 0.9px;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 191px;
    flex-grow: 0;
    padding-left: 10px;
    background-color: #c5440d;
}

#fixedHeaderLine2 li:last-child a {
    font-family: "Avenir85";
    font-size: 1rem;
    letter-spacing: 0.32px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 30px;
    align-self: end;
}

#searchBar {
    font-family: "Avenir35";
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 15px;
    width: 281px;
    height: 40px;
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 60px;
    text-overflow: ellipsis;
    border-radius: 25px/50%;
    background-color: #f5f5f5;
    border: none;
}

#searchBar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    background-image: url(assets/vectors/webkit-cancel-button.svg);
}

#searchBar:focus {
    background-color: white;
    border: 2px solid #f5f5f5;
}

#searchButton {
    margin-right: 15px;
    margin-left: -71.39px;
    width: 56.39px;
    height: 40px;
    border-radius: 0  25px 25px 0;
    background-color: #c5440d;
    background-image: url(assets/vectors/searchButtonIcon.svg);
    background-repeat: no-repeat;
    background-size: 14.39px;
    background-position: center;
    border: none;
}

#searchButton:active {
    outline: 2px solid blue;
    border: 1px solid white;
}

#fixedHeaderLine2 #mobileMenu {
    display: none;
}
@media (max-width: 775px) {
    #fixedHeaderLine2 .mobileMenuItem {
        display: none;
    }

    #fixedHeaderLine2 #mobileMenu {
        display: flex;
        flex-grow: 0;
        padding-right: 5px;
    }

}

/* line 3 */

#fixedHeaderLine3 a {
    color: black;
    font-family: "Avenir85";
    font-size: .875rem;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 2.5rem;
}

#fixedHeaderLine3 a:hover {
    color: #c5440d;
}

@media (max-width: 775px) {
    #fixedHeaderLine3 .mobileMenuItem {
        display: none;
    }

}

#fixedHeaderLine3 #socialMedia {
    width: 95px;
    height: 25px;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

#fixedHeaderLine3 #socialMedia a {
    padding: 0;
}

#fixedHeaderLine3 #loginButton {
    width: 92px;
    height: 40px;
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
}

#fixedHeaderLine3 #loginButton a {
    font-family: "Avenir35";
    color: #c5440d;
}

#fixedHeaderLine3 #loginButton a:hover {
    color: #f7a987;
}

#loginButton img {
    width: 22px;
    vertical-align: bottom;
}

#shoppingCart {
    display: flex;
    max-width: fit-content;
    align-self: center;
    margin-right: 15px;
}

#shoppingCart img {
    width: 49px;
    height: 19.98px;
}


#fixedHeaderLine3 {
    list-style-type: none;
    border-top: 1px solid #c7c7c7;
    margin: 0;
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 30px;
    flex-wrap: nowrap;
}


#fixedHeaderLine3 li {
    flex-grow: 1;
}

@media (max-width: 896px) {
    #fixedHeaderLine3 {
        justify-content: flex-end;
    }
    #fixedHeaderLine3 li {
        flex-grow: 0;
    }
}

@media (max-width: 775px) {
    #fixedHeaderLine3 #loginButton.mobileMenuItem {
        display: none;
    }

    #fixedHeaderLine3 {
        justify-content: space-between;
    }

}

/*|| MAIN */

#chatButton{
    width: 64px;
    height: 64px;
    background-color: #c5440d;
    border: none;
    border-radius: 8px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

/* slides */

.welcomeFedd {
    width: 100%;
    height: 535px;
    background-image: url(assets/pictures/flow-image-01.webp);
    background-size: cover;
    display: flex;
}

.messageBoard{
    width: 407px;
    height: 424px;
    background-color: #ffffffb3;
    align-self: center;
    box-sizing: border-box;
    padding: 30px;

}

.messageBoard p {
    font-family: "Poppins";
    font-size: 53px;
    line-height: 61.6px;
}

.messageBoard button {
    width: 145px;
    height: 40px;
    background-color: #c5440d;
    font-family: "Avenir35";
    color: #ffffff;
    font-size: 16px;
    border: none;
}

.messageBoard button:hover{
    background-color: #ffffff;
    border: 1px solid #c5440d;
    color: #c5440d;
}

/* befits list */

.benefitsList {
    display: flex;
    list-style-type: none;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.benefitsList li {
    width: 11.625rem;
    height: 14.625rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.benefitsList li img {
    width: 39%;
}

.benefitsList .cardTitle {
    font-family: "Avenir85";
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
}

.benefitsList .cardText {
    font-family: "Avenir35";
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0;
}
